.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ========================================================
                  MODAL VIDEO STYLE
==========================================================*/
.detail-page-container {
  width: 100%;
  height: 40em;
}
.modal-video {
  position: absolute;
  top: 25%;
  left: 25%;
}

.modal-video-close-btn {
  height: 1.7em;
  width: 1.7em;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: -34px;
}

.modal-video-close-btn:after {
  content: "\f00d";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  color: gray;
}
